Repository hold17/dist-hangman, pull requests merged in 2018-03, with the labels that each got.

#5 Refactor all the things
  src/main/java/api/AppConfig.java
  src/main/java/api/Error.java
  src/main/java/api/hellorest.java
  src/main/java/auth/AppConfig.java
Labels: enhancement

#6 Merge disthangmen
  .idea/artifacts/client_jar.xml
  .idea/artifacts/h12_hangman_war.xml
  .idea/artifacts/hangman_rest.xml
  .idea/artifacts/server_jar.xml
  .idea/compiler.xml
  .idea/modules.xml
  client/client.iml
  client/pom.xml
  client/src/META-INF/MANIFEST.MF
  client/src/dk/localghost/hold17/client/Client.java
  client/src/dk/localghost/hold17/client/HangmanClient.java
  client/src/dk/localghost/hold17/client/UserInteraction.java
  client/src/dk/localghost/hold17/ui/GallowDrawer.java
  common/common.iml
  common/pom.xml
  common/src/dk/localghost/hold17/transport/IAuthentication.java
  common/src/dk/localghost/hold17/transport/IHangman.java
  hangman.iml
  pom.xml
  readme.md
  rest-server/pom.xml
  rest-server/rest-server.iml
  rest-server/src/dk/localghost/hold17/rest/api/AppConfig.java
  rest-server/src/dk/localghost/hold17/rest/api/Error.java
  rest-server/src/dk/localghost/hold17/rest/api/hellorest.java
  rest-server/src/dk/localghost/hold17/rest/auth/AppConfig.java
  server/src/META-INF/MANIFEST.MF
  soap-server/pom.xml
  soap-server/soap-server.iml
  soap-server/src/dk/localghost/hold17/server/Auth.java
  soap-server/src/dk/localghost/hold17/server/Authentication.java
  soap-server/src/dk/localghost/hold17/server/HangmanLogic.java
  soap-server/src/dk/localghost/hold17/server/Serializing.java
  soap-server/src/dk/localghost/hold17/server/Server.java
Labels: enhancement

#12 Add a class to manage all routes
  rest-server/src/dk/localghost/hold17/rest/config/Routes.java
Labels: REST

#13 Feature/oauth2
  common/src/dk/localghost/hold17/helpers/AuthorizationHelper.java
  common/src/dk/localghost/hold17/helpers/TokenHelper.java
  common/src/dk/localghost/hold17/transport/IAuthentication.java
  rest-server/src/dk/localghost/hold17/rest/api/hellorest.java
  rest-server/src/dk/localghost/hold17/rest/auth/AuthenticationEndpoint.java
  rest-server/src/dk/localghost/hold17/rest/auth/AuthenticationFilter.java
  soap-server/src/dk/localghost/hold17/server/Authentication.java
Labels: REST, SOAP

#15 Cleanup maven files
  client/pom.xml
  common/common.iml
  common/pom.xml
  hangman.iml
  pom.xml
  rest-server/pom.xml
  soap-server/pom.xml
Labels: bug

#16 Cleanup oauth
  client/src/dk/localghost/hold17/client/HangmanClient.java
  rest-server/src/dk/localghost/hold17/rest/auth/AuthenticationEndpoint.java
Labels: REST, SOAP Client, bug

#17 Cleaned up unused and unnecessary dependencies
  common/pom.xml
  pom.xml
  rest-server/pom.xml
  rest-server/rest-server.iml
  rest-server/src/dk/localghost/hold17/rest/api/hellorest.java
  rest-server/src/dk/localghost/hold17/rest/auth/AuthenticationFilter.java
  soap-server/src/dk/localghost/hold17/server/AuthConfig.java
  soap-server/src/dk/localghost/hold17/server/Serializing.java
Labels: enhancement

#23 Implement database
  .idea/artifacts/client_jar.xml
  .idea/artifacts/hangman_rest_archived.xml
  .idea/artifacts/rest_server_archive.xml
  .idea/artifacts/rest_server_exploded.xml
  .idea/artifacts/soap_server_jar.xml
  client/client.iml
  client/pom.xml
  client/resources/META-INF/MANIFEST.MF
  client/src/dk/localghost/hold17/client/Client.java
  client/src/dk/localghost/hold17/client/HangmanClient.java
  client/src/dk/localghost/hold17/client/UserInteraction.java
  common/src/dk/localghost/hold17/helpers/AuthorizationHelper.java
  common/src/dk/localghost/hold17/helpers/TokenHelper.java
  common/src/dk/localghost/hold17/transport/IAuthentication.java
  common/src/dk/localghost/hold17/transport/IHangman.java
  pom.xml
  rest-server/pom.xml
  rest-server/rest-server.iml
  rest-server/src/dk/localghost/hold17/rest/api/hellorest.java
  rest-server/src/dk/localghost/hold17/rest/auth/AuthenticationEndpoint.java
  rest-server/src/dk/localghost/hold17/rest/auth/AuthenticationFilter.java
  soap-server/pom.xml
  soap-server/resources/META-INF/MANIFEST.MF
  soap-server/resources/META-INF/persistence.xml
  soap-server/soap-server.iml
  soap-server/src/dk/localghost/hold17/server/Auth.java
  soap-server/src/dk/localghost/hold17/server/Authentication.java
  soap-server/src/dk/localghost/hold17/server/HangmanLogic.java
  soap-server/src/dk/localghost/hold17/server/Server.java
  soap-server/src/dk/localghost/hold17/server/database/Database.java
  soap-server/src/dk/localghost/hold17/server/database/data/HighScore.java
Labels: SOAP, SOAP Client, bug, enhancement

#25 Ignore idea stuff
  .gitignore
  .idea/compiler.xml
  .idea/misc.xml
  .idea/modules.xml
  client/client.iml
  client/pom.xml
  common/common.iml
  common/pom.xml
  hangman.iml
  rest-server/pom.xml
  rest-server/rest-server.iml
  soap-server/pom.xml
  soap-server/soap-server.iml
Labels: enhancement

#27 Implement endpoint to validate a token
  .idea/artifacts/rest_server_archive.xml
  .idea/artifacts/rest_server_exploded.xml
  common/src/dk/localghost/hold17/helpers/TokenHelper.java
  common/src/dk/localghost/hold17/transport/IAuthentication.java
  rest-server/src/dk/localghost/hold17/rest/api/hellorest.java
  rest-server/src/dk/localghost/hold17/rest/auth/Validation.java
  rest-server/src/dk/localghost/hold17/rest/config/CORSFilter.java
  rest-server/web/META-INF/context.xml
  rest-server/web/WEB-INF/web.xml
  soap-server/src/dk/localghost/hold17/server/Authentication.java
Labels: REST, enhancement

#28 Implement database
  soap-server/src/dk/localghost/hold17/server/HangmanLogic.java
  soap-server/src/dk/localghost/hold17/server/Server.java
  soap-server/src/dk/localghost/hold17/server/database/Database.java
  soap-server/src/dk/localghost/hold17/server/database/data/HighScore.java
Labels: SOAP, bug, enhancement

#30 Implement database
  .gitignore
  .idea/artifacts/soap_server_jar.xml
  common/src/dk/localghost/hold17/dto/HighScore.java
  common/src/dk/localghost/hold17/transport/IHangman.java
  dbsettings.properties.example
  pom.xml
  soap-server/pom.xml
  soap-server/resources/META-INF/persistence.xml
  soap-server/src/dk/localghost/hold17/server/HangmanLogic.java
  soap-server/src/dk/localghost/hold17/server/Server.java
  soap-server/src/dk/localghost/hold17/server/database/Database.java
  soap-server/src/dk/localghost/hold17/server/database/entities/HighScoreEntity.java
Labels: SOAP, bug, enhancement

#31 Added high score endpoint (REST)
  client/src/dk/localghost/hold17/client/HangmanClient.java
  client/src/dk/localghost/hold17/ui/GallowDrawer.java
  common/src/dk/localghost/hold17/dto/HighScore.java
  common/src/dk/localghost/hold17/helpers/DatabaseHelper.java
  common/src/dk/localghost/hold17/transport/IAuthentication.java
  common/src/dk/localghost/hold17/transport/IDatabaseHandler.java
  common/src/dk/localghost/hold17/transport/IHangman.java
  rest-server/src/dk/localghost/hold17/rest/api/hangman/HangmanRest.java
  soap-server/src/dk/localghost/hold17/server/Authentication.java
  soap-server/src/dk/localghost/hold17/server/DatabaseHandler.java
  soap-server/src/dk/localghost/hold17/server/HangmanLogic.java
  soap-server/src/dk/localghost/hold17/server/Server.java
  soap-server/src/dk/localghost/hold17/server/database/Database.java
Labels: REST, SOAP, SOAP Client, bug, enhancement
